@charset "UTF-8";

.sec-title{
  font-size: 2.5rem;
  line-height: 4rem;
  text-align: center;
  margin-bottom: 50px;
  border-bottom: 1px rgb(165, 165, 165) solid;
  margin-top: 170px;
}

.more-view-button{
  text-align:center;
  width: 150px;
  font-size: 1.3rem;
  line-height: 2.0rem;
  margin: 30px auto 70px auto;
  border: 1px solid rgb(165, 165, 165);
  border-radius: 30px;
}

.more-view-button:hover{
  border-color: white;
  background-color: rgb(27, 27, 27);
}

.album{
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
  margin-bottom: 50px;
}

.album img{
  width: 45%;
  height: 45%;
}

.album-info{
  width: 45%;
}

.album-info h3{
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.released{
  text-align: right;
  margin-bottom: 20px;
  margin-right: 20px;
}

.album-info ul{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  line-height: 1.5rem;
}

@media(max-width:700px){
  .album{
    display: block;
  }

  .album img{
    width: 100%;
  }

  .album-info{
    width: 100%;
  }

  .album-info h3{
    margin-top: 30px;
  }
}